:root {
    --bgc-main: #000000;
    --bgc-form: #1e1e1e;
    --bgc-note: #202020;
    --bgc-button: #2c2c2c;
    --bgc-text-main: #34dc6c;
    --bgc-text-form: #ffff;
    --bgc-text-note: #ffff;
    --bgc-text-button: #34dc6c;

    --width-note-form: 768px;
}

* {
    font: 100% Courier New;
}

body {
    margin: 25px;
    line-height: 26px;
    color: var(--bgc-text-main);
    background-color: var(--bgc-main);
}

form {
    color: var(--bgc-text-form);
    background-color: var(--bgc-form);
}

textarea {
    width: 256px;
}

button {
    color: var(--bc-text-button);
    background-color: var(--bgc-button);
}

#site-title {
    font-size: 64px;
    color: var(--bgc-text-main);
    text-decoration-color: #fff;
    text-decoration-line: underline;
}

#site-title:hover {
    size: 100%;
    color: var(--bgc-text-form);
    text-decoration-line: underline;
    text-decoration-color: #34dc6c;
}

#note-form-container {

}

#note-form {
    padding: 20px;
    color: var(--bgc-text-form);
    width: var(--width-note-form);
    background-color: var(--bgc-form);
}

#note-form input, textarea{
    height: 10px;
    color: var(--bgc-text-form);
    background-color: var(--bgc-main);
}

#note {
    margin: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--bgc-text-note);
    background-color: var(--bgc-note);
}

#note #note-name {

}

#note #note-body {

}

#note #note-delete-form #note-delete {

}

