<!DOCTYPE html>
<html lang="en">
<head>
    <title>Noted</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/static/app.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1 id="site-title">Noted</h1>

    <div id="note-form-container">
        <form id="note-form" hx-post="/add" hx-target="#note-list" hx-swap="innerHTML">
            <input placeholder="Name your note..." type="text" id="note-name" name="note-name" required><br><br>
            <textarea id="note-body" name="note-body" rows="4" placeholder="Write your note..." required></textarea><br><br>
            <button id="add-note" type="submit">Add Note</button>
        </form>
    </div>
    
    <div id="note-list" hx-get="/notes" hx-target="#note-list" hx-swap="innerHTML" hx-trigger="load">
        {{ .Note }}
    </div>
</body>
</html>
